#iconos {
    width: 100px;
    height: 100px;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #0F0F0F;
}

nav {
    color: #D3D3D3;
    height: 100px;
    width: 100%;
}

nav ul {
    text-align: center;
    background-color: #0F0F0F;
}

nav ul li {
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
    padding: 5px;
}

nav ul li a {
    color: #0F0F0F;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    background-color: #D3D3D3;
    text-decoration: none;
}

a.active,
a:hover {
    background: #454545;
    color: #D3D3D3;
    transition: 0.5s;
}

button {
    color: white;
}

#info {
    padding-top: 100px;
    padding-bottom: 50px;
}

#parrafo {
    display: flex;
    justify-content: center;
}

p {
    color: white;
}

#icono {
    display: grid;
    grid-template-columns:
        repeat(auto-fit,
            minmax(85px, 1fr));
    gap: 10 px;

}

#habilidades {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contacto {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact {
    color: #D3D3D3;
    font-size: 40px;
}

#contact:hover{
    padding: 5px;
    background-color: #0F0F0F;
    font-size: 30px;
    color: #454545;
    transition: 0.5s; 
}   

#git-proyect{
    color: #D3D3D3;
    font-size: 40px;
    margin: 10px;
}

#git-proyect:hover{
    background-color: #0F0F0F;
    color: #454545;
    transition: 0.5s;
}

body {
    background-color: #0F0F0F;
    color: #D3D3D3;
}

#nico {
    border-radius: 50%;
}

div {
    text-align: center;
}

.card {
    margin-bottom: 20px;
    background-color: #0F0F0F;
}

#proyectos{
    padding-bottom: 50px;
    padding-top: 50px;
}

#proyecto{
    padding-top: 30px;
}

#proyect-img{
    width: 80%;
}

h1{
    color: #888888;
    
}




@media (min-width:650px){
    #icono{
        margin: 0 auto;
        width: 60%;
    }

    #parrafo{
        margin: 0 auto;
        width: 60%;
    }

    #proyecto{
        margin: 0 auto;
        width: 40%;
    }

}

@media(min-width:900px){
    #icono{
        margin: 0 auto;
        width: 40%;
    }

    #parrafo{
        margin: 0 auto;
        width: 40%;
    }

    #proyecto{
        margin: 0 auto;
        width: 40%;
    }

}